<header class="text-center">
  <h1>Open Vagas</h1>
  <p>Mural de vagas compartilhadas pela comunidade.</p>
</header>

<form>
  <div class="row">
    <div class="col-sm">
      <label>Carreira</label>
      <input class="form-control"type="text" placeholder="First name" >
    </div>
    <div class="col-sm">
      <label>Localidade</label>
      <input class="form-control"type="text" placeholder="Last name" >
    </div>
    <div class="col-sm">
      <label>Local de trabalho</label>
      <input class="form-control"type="text" placeholder="Last name" >
    </div>
    <div class="col-sm">
      <button class="btn btn-danger" type="submit" style="margin-top:31px;">Pesquisar</button>
    </div>
  </div>
</form>

<% @positions.each do |position|%>
  <%= render position %>
<% end %>

<p class="d-block. text-center mt-3">
  <a href="#">Paginação</a>
</p>
